url --url {{ repos[os][arch]["baseos"] }}
text
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts='us'
repo --name="BaseOS" --baseurl={{ repos[os][arch]["baseos"] }} --cost=100
repo --name="AppStream" --baseurl={{ repos[os][arch]["appstream"] }} --cost=100
network  --bootproto=dhcp --device=link --activate --onboot=on
firewall --enabled --ssh
selinux --enforcing
rootpw --lock --iscrypted $6$1LgwKw9aOoAi/Zy9$Pn3ErY1E8/yEanJ98evqKEW.DZp24HTuqXPJl6GYCm8uuobAmwxLv7rGCvTRZhxtcYdmC0.XnYRSR9Sh6de3p0
user --name=admin --groups=wheel --iscrypted --password=$6$1LgwKw9aOoAi/Zy9$Pn3ErY1E8/yEanJ98evqKEW.DZp24HTuqXPJl6GYCm8uuobAmwxLv7rGCvTRZhxtcYdmC0.XnYRSR9Sh6de3p0
sshkey --username=admin "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDMiTGemx2gjWkPCApWZHblN34WaD3cIiuv6zU1S4dtSumR3NeCdUnA9fBgDGyKErIbxtI1XICoLCulv7zPQuUNa/H/iv1yyH2o+5ZuQe8sLtX5bO0nfVdBWSWQu0EMgyaHrPnt642Cby91YLjX8AVkfRPczHkE3mRTJpkYmdeYRPZqNe6+o9A4LVa5/ZNEgzQLs2fXAJlQWP24nueRm8ypdHt0HvZa4wsHELaG7AXlcz3pmg+4I256UG2f5Y99k10CqAYteRtILrR3oXary9pDd4tg9/aCS3T7GYZGi8l5CdZ2LZwHf6pLZM/O9Lf4rjDysyfPw7RZ2uwF0SRpDfUrqrufgEHCLtfADfYg0qf/iulGoLaM3OTI+Jbyra2JXP1tlzyOUUDm1dwABRTcQvujSYrdnJM4M4BHo3ca1U8Fkh/KgjVahfIYH0kx+FjT964lJAJfxU0O3nnsytiEghLk1DuHta6VNuTRehF5gbhNC2Cc6yqbSZ+lp68bU4dRDm0= kite-test"
timezone --utc Asia/Shanghai
services --enabled="NetworkManager,sshd,rsyslog,chronyd,cloud-init,cloud-init-local"
reboot --eject
bootloader --location=mbr --append="console=ttyS0,115200 net.ifnames=0 biosdevname=0"
zerombr
clearpart --all --initlabel
autopart

%post --log=/var/log/anaconda/post-install.log --erroronfail

# set environment variable to mark cloud platform
cat > /etc/profile.d/platform.sh << EOF
export PLATFORM="esxi"
EOF

cat <<EOF > /etc/yum.repos.d/nightly.repo
[RHEL-8-NIGHTLY-BaseOS]
name=baseos
baseurl={{ repos[os][arch]["baseos"] }}
enabled=1
gpgcheck=0

[RHEL-8-NIGHTLY-AppStream]
name=appstream
baseurl={{ repos[os][arch]["appstream"] }}
enabled=1
gpgcheck=0
EOF

# Build and install ltp
wget https://github.com/linux-test-project/ltp/archive/20210121.tar.gz
tar -zxf 20210121.tar.gz
cd ltp-20210121 && autoreconf -i && ./configure && make all && make install
cd .. && rm -f 20210121.tar.gz && rm -rf ltp-20210121

# RHEL change default cloud user to admin
sed -i 's/name: cloud-user/name: admin/g' /etc/cloud/cloud.cfg
# RHEL change admin(cloud user) lock_passwd to false
sed -i 's/lock_passwd: true/lock_passwd: false/g' /etc/cloud/cloud.cfg

true

%end

%packages
@core
open-vm-tools
chrony
NetworkManager
dnf
yum
dnf-utils
yum-utils
cloud-init
cloud-utils-growpart
python3
traceroute
xinetd
dnsmasq
dhcp-server
telnet
tcpdump
expect
net-tools
bind-utils
numactl-devel
libaio-devel
libaio
gdb
dosfstools
sysstat
ksh
tcsh
gcc
gcc-c++
git
rsync
wget
curl
bc
psmisc
quota
%end
